<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    <b> Lista de Familiares: </b>
    {% for familiar in Familiares %}
    <p>Nombre: <b>{{familiar.nombre}}</b></p>  
    <p>Apellido: <b>{{familiar.apellido}}</b></p>
    <p>Edad: <b>{{familiar.edad}}</b></p>
    <p>Fecha de Nacimiento: <b>{{familiar.fecha_de_nacimiento}}</b></p>
    <b> ---------------------------------------------------------------</b>
    {% endfor %}

</body>
</html>